
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    margin: 0;
    background-color: #F5F8FF;
}

/* shared elements  */

.btn-primary{
    background-color: #4E47FF;
    border-radius: 5px;
    border: none;
    padding: 12px 36px;
    color: #FFFFFF;
    transition: background-color 0.3s ease;

}

.btn-primary:hover{
    background-color: rgb(212, 212, 72);
}

.raleway-bold-16{
    font-weight: 700;
    font-size: 16px;
}
.raleway-bold-65{
    font-weight: 700;
    font-size: 65px;
}
.raleway-bold-42{
    font-weight: 700;
    font-size: 42px;
}
.raleway-bold-38{
    font-weight: 700;
    font-size: 42px;
}
.raleway-bold-97{
    font-weight: 700;
    font-size: 97px;
}

.raleway-regular-24{
    font-weight: 400;
    font-size: 24px;
}

.text-color-1{
    color: rgb(37, 36, 50, 50%);
}
.text-color-2{
    color: rgb(137, 135, 161, 100%);
}


/* header section  */

.header{
    background-image: url(Assets/Hero-bg.png);
    
}

.hero-banner{
    background-image: url(Assets/Hero-bg.png);
    height: 100vh;
}

nav {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 300px;
}

.logo-text{
    color:#4E47FF;
    font-weight: 900;
    font-size: 34;
}

.banner{
    padding: 0 300px;
    padding-top: 250px;
    margin: 0 230px;
    text-align: center;
    /* display: grid;              */
    /* justify-content: center;   
    align-items: center;  */
}



/* main section  */

.action{
    margin: 0 100px;
    padding: 180px 280px 180px 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.part2{
    border-radius: 15px;
}

/* productive section  */


.productive{
    margin: 0 300px;
    /* padding: 180px 260px 180px 260px; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    background-color: rgb(78, 71, 255, 10%)
}

.productive-title{
    margin-bottom: 10px;
}

.productive-states{
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 150px;
}

.productive-states h1, .productive-states h5 {
  margin: 2px 0;
  padding: 0;
}

.text-big-blue{
    color: rgb(78, 71, 255);
    font-size: 80px;
    font-weight: 900;
    margin-top: 20px;
    /* margin-bottom: 2px; */
}


/* rating section  */

.review-rating{
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.review-title{
    text-align: center;
    padding-top: 40px;
}


.rating-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 20px solid black; */
    text-align: left;
    margin: 20px 0px;
    gap: 100px;  
    
}

.rating-card{
    width: 10%;
    background-color: #FFFFFF;
    padding: 15px;
    border: 1px solid #F2EDED;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.card{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    border: 5px solid black;
    background-color: aliceblue;
}

.reviewer-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    
}
.reviewer-info img{
    border-radius: 40px;
    
}

.card-title, .card-description, .reviewer-name-date h5 {
  margin: 10px 0; 
}


/* Touch section  */

.touch-section{
    padding: 130px 230px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    gap: 100px;

}
.touch-section label{

    display: block;
    justify-content: left;


}

.touch-column{
    width: 50%;
}

.touch-section input[type="text"], .touch-section input[type="email"]{
    height: 40px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

.touch-section textarea{
    height: auto;           /* Let height be controlled by rows or content */
    max-height: 80px;      /* Or set a bigger static height if preferred */
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

.full-width-button{
    margin: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4E47FF;
    border-radius: 5px;
    border: none;
    /* padding: 12px 36px; */
    color: #FFFFFF;
    transition: background-color 0.3s ease;
    width: 100%;
    padding: 12px 36px;
    box-sizing: border-box;
}



/* footer section  */
footer{
    background-color: white;
}
.footer-container{
    
    margin: 100px 350px;
    border: 0 200px;
    border: #4E47FF solid;
    display: block;
    text-align: center;
    margin: 0 300px;
    padding: 0 auto;
}

.inter-black-100{
    color: rgb(78, 71, 255);
    font-size: 100px;
    font-weight: 900;

}


footer a{
    text-decoration: none;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}