
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    margin: 0;
    background-color: #F5F8FF;
}

/* shared elements  */

.btn-primary{
    background-color: #4E47FF;
    border-radius: 5px;
    border: none;
    padding: 12px 36px;
    color: #FFFFFF;
    transition: background-color 0.3s ease;

}

.btn-primary:hover{
    background-color: rgb(212, 212, 72);
}

.raleway-bold-16{
    font-weight: 700;
    font-size: 16px;
}
.raleway-bold-65{
    font-weight: 700;
    font-size: 65px;
}
.raleway-bold-42{
    font-weight: 700;
    font-size: 42px;
}
.raleway-bold-38{
    font-weight: 700;
    font-size: 42px;
}
.raleway-bold-97{
    font-weight: 700;
    font-size: 97px;
}

.raleway-regular-24{
    font-weight: 400;
    font-size: 24px;
}

.text-color-1{
    color: rgb(37, 36, 50, 50%);
}
.text-color-2{
    color: rgb(137, 135, 161, 100%);
}


/* header section  */

.header{
    background-image: url(Assets/Hero-bg.png);
    
}

.hero-banner{
    background-image: url(Assets/Hero-bg.png);
    height: 100vh;
}

nav {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 300px;
}

.logo-text{
    color:#4E47FF;
    font-weight: 900;
    font-size: 34;
}

.banner{
    padding: 0 300px;
    padding-top: 250px;
    margin: 0 230px;
    text-align: center;
    /* display: grid;              */
    /* justify-content: center;   
    align-items: center;  */
}



/* main section  */

.action{
    padding: 180px 260px 180px 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.part2{
    border-radius: 15px;
}




.productive{
    margin: 0 300px;
    /* padding: 180px 260px 180px 260px; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    background-color: rgb(78, 71, 255, 10%)
}

.productive-title{
    margin-bottom: 10px;
}

.productive-states{
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 150px;
}

.productive-states h1{
    margin-bottom: 6px;
}

.text-big-blue{
    color: rgb(78, 71, 255);
    font-size: 80px;
    font-weight: 900;
}


/* rating section  */

.ratings{
    text-align: center;
    margin: 100px 260px;
}

.card{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}




/* Touch section  */

/* footer styles  */

.touch-section{
    padding: 130px 230px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;

}

.touch-column{
    width: 50%;
}

.touch-section input[type="text"], .touch-section input[type="email"], .touch-section textarea{
    height: 40px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

.form-align label{
    justify-content: left;
}




/* footer section  */
footer{
    background-color: white;
}
.footer-container{
    
    margin: 100px 350px;
    border: 0 200px;
    border: #4E47FF solid;
    display: block;
    text-align: center;
    margin: 0 300px;
    padding: 0 auto;
}

.inter-black-100{
    color: rgb(78, 71, 255);
    font-size: 100px;
    font-weight: 900;

}


footer a{
    text-decoration: none;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}